.nav-item i {
    width: 26px;
    text-align: center;
}
ul.nav.nav-treeview {
    margin: 0 0 0 14px;
}
ul.nav.nav-treeview {
    margin: 0 0 0 14px;
}
ul.navbar-nav.ml-auto .top-right.links li {
    float: left;
    padding: 00 0 0 9px;
}
ul.navbar-nav.ml-auto .top-right.links li ul.dropdown-menu {
    right: 0;
    left: auto;
    width: 193px;
}
ul.parsley-errors-list li {list-style: none;font-size: 14px;color: red;}
ul.parsley-errors-list {
    padding: 0;
    margin: 0;
}
.form-group img {
    border: solid 1px #ccc;
    padding: 5px;
    margin-bottom: 8px;
}
form .jFiler-theme-default .jFiler-input {
    width: 100%;
    box-shadow: none;
    font-size: 1rem;
    line-height: 37px;
    padding: 0 12px;
    height: 40px;
    padding-right: 0;
}

form .jFiler-input-button {
    float: right;
    background: #343a40;
    color: #fff;
    font-size: 17px;
    padding: 1px 22px;
}
.listing_medias {
    display: inline-block;
}
form .jFiler-theme-default .jFiler-input-caption {
    padding: 0;
}
form .listing_media_main {
    float: left;
    display: inline-block;
    border: solid 1px #ccc;
    position: relative;
    padding: 5px;
    margin: 0 19px 19px -13px;
}

form span.badge.badge-dark.delete_rink_photo {
    position: absolute;
    right: 0;
    top: 0;
}